.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0px 250px 20px 250px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 95px;
    opacity: .7;
    background-color: transparent;
    background-repeat: repeat-x;
    background-image: linear-gradient(180deg,#14181c 0,rgba(20,24,28,.94460641) 16.56%,rgba(20,24,28,.80174927) 30.85%,rgba(20,24,28,.60641399) 43.77%,rgba(20,24,28,.39358601) 56.23%,rgba(20,24,28,.19825073) 69.15%,rgba(20,24,28,.05539359) 83.44%,rgba(20,24,28,0));
}

.nav-bar img {
     height: 38px;
}

.nav-link {
    text-transform: uppercase;
    cursor: pointer;
}

.nav-bar a {
     color: #fff;
     text-decoration: none;
}

.header-nav {
     display: flex;
     align-items: center;
}

.header-nav ul li {
     display: inline-block;
     list-style: none;
     margin-right: 10px;
     font-family: sans-serif;
     font-size: 14px;
}

.nav-logo-text {
     display: flex;
     align-items: center;
}

.nav-logo-text * {
     display: inline-block;
     margin-right: 10px;
}