.headline-1 {
    position: relative;
    top: 66%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 40px;
    font-family: serif;
}

.headline-2 {
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    margin-right: 25%;
}

.div-center {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.letterboxd-horizontal {
    max-width: 770px;
}

.lets-you {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.lets-you-item {
    background: #445465;
    color: #def;
    width: 250px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.lets-you-item * {
    margin-left: 10px;
    margin-right: 10px;
}