.search-bar-test {
    /* position: absolute;
    right: 11.3%;
    top: 5.5%; */
    display: block;
    color: #89a;
    font-size: 1rem;
    line-height: 1.30769231;
    /* padding: 8px 30px 8px 10px; */
    /* height: 30px; */
    /* border-radius: 15px; */
}

.search-bar-test input {
    width: 100px;
}

.shows-ul {
    position: absolute;
    list-style: none;
    background-color: gray;
    /* padding: 0px 0px 0px 0px; */
    padding-inline-start: 0px;
    -webkit-padding-start: 0;
    width: 160px;
}

.show-li {
    width: 100%;
}

.show-li img {
    width: 11px;
}