.center-buttons {
    display: flex;
    justify-content: center;
    /* background-image: linear-gradient(#1e252d, #1e252d); */
}

.headline-show {
    top: -70%;
    left: 20.3%;
    font-size: 40px;
    font-family: serif;
    color: #fff;
    margin: 0;
    width: 555px;
    text-shadow: #000 2px 0 5px;
}

.headline-show-gray {
    font-size: 18px;
    font-weight: normal;
    color: #def;
}

.headline-overview {
    position: relative;
    top: -355px;
    /* text-align: center; */
    /* font-size: 20px; */
    font-family: sans-serif;
    /* width: 75%; */
    height: 120px;
    /* text-overflow: ellipsis;
    height: 100px;
    overflow: hidden; */
    color: #9ab;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-left: 310px; */
    padding-left: 10%;
    padding-right: 10%;
}

.headline-3 img {
    width: 175px;
    height: 262.5px;
    position: absolute;
    left: 20%;
    top: -129%;
}

.show-info {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.show-info * {
    padding-right: 8px;
}

.show-info-overview {
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 12px;
    color: #def;
}

.show-info-overview * {
    padding-right: 8px;
}

.season-list {
    display: flex;
    /* justify-content: space-between; */
    /* align-content: space-around; */
    list-style: none;
    overflow: scroll;
    /* max-width: 45%; */
    margin: 0 auto;
    margin-top: -110px;

    /* padding-left: 240px; */

    /* columns: 10;
    -webkit-columns: 10;
    -moz-columns: 10;
    padding-left: 0; */
}

.season-list::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.season-list img {
    width: 165px;
    height: 240px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding-left: 3px;
    padding-right: 3px;
}

.center-horizontally {
    /* display: flex;
    justify-content: center; */
    /* padding-left: 350px;
    padding-right: 100px; */
    padding-left: 10%;
    padding-right: 10%;
}

.dashboard-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 10px;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
    position: relative;
    top: -40%;
}

.dashboard-poster {
    width: 150px;
    height: 220px;
    border-radius: 10px;
    border: 1px solid transparent;
    /* position: absolute;
    left: 275px;
    bottom: -102px; */
}


.dashboard-poster-sticky {
    width: 230px;
    height: 345px;
    border-radius: 10px;
    border: 1px solid transparent;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10px;
    left: 10%;
}

.show-overview {
    /* width: 545px; */

    overflow: scroll;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 175px;

    -webkit-box-orient: vertical;
}

.show-overview::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.dashboard-middle-text {
    display: flex;
    flex-direction: column;
    margin-left: 245px;
    margin-right: 40px;
}

.show-networks img {
    height: 42px;
    margin-right: 10px;

    -webkit-filter: drop-shadow(1px 1px 0 white)
        drop-shadow(-1px -1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px 1px 0 white);
    filter: drop-shadow(1px 1px 0 white) 
        drop-shadow(-1px -1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px 1px 0 white);
}

.show-genres span {
    margin-left: 10px;
    margin-right: 10px;
}

.left-indent-poster {
    padding-left: 245px;
}

span.spoiler {
  text-shadow: 0 0 8px #fff;
  color: rgba(255, 255, 255, 0);
  zoom: 1;
  transition: 1s text-shadow linear;
}

span.spoiler:hover {
  text-shadow: none;
  color: #fff;
  filter: none;
}

@media only screen and (max-width: 1000px) {
    .center-horizontally {
        padding-left: 6%;
        padding-right: 6%;
    }
}