.center-buttons {
    display: flex;
    justify-content: center;
}

.headline-show {
    top: -70%;
    left: 20.3%;
    font-size: 40px;
    font-family: serif;
    color: #fff;
    margin: 0;
    text-shadow: #000 2px 0 5px;
}

.headline-show-gray {
    font-size: 18px;
    font-weight: normal;
    color: #def;
}

.headline-overview {
    position: relative;
    top: -355px;
    font-family: sans-serif;
    height: 120px;
    color: #9ab;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: calc(15% + 230px + 5px);
    margin-right: 15%;
}

.headline-3 img {
    width: 175px;
    height: 262.5px;
    position: absolute;
    left: 20%;
    top: -129%;
}

.show-info {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.show-info * {
    padding-right: 8px;
}

.show-info-overview {
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 12px;
    color: #def;
}

.show-info-overview * {
    padding-right: 8px;
}

.season-list {
    display: flex;
    list-style: none;
    overflow: scroll;
    margin-top: -110px;
    margin-left: calc(15% + 230px + 5px);
    margin-right: 15%;
}

.season-list::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.season-list img {
    width: 165px;
    height: 240px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding-left: 3px;
    padding-right: 3px;
}

.center-horizontally {
    padding-left: calc(15% + 230px + 5px);
    padding-right: 13.5%;
}

.dashboard-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 10px;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
    position: relative;
    top: -40%;
}

.dashboard-poster {
    width: 150px;
    height: 220px;
    border-radius: 10px;
    border: 1px solid transparent;
}


.dashboard-poster-sticky {
    width: 230px;
    height: 345px;
    border-radius: 10px;
    border: 1px solid transparent;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    left: 15%;
    z-index: -1;
}

.show-overview {
    overflow: scroll;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 175px;

    -webkit-box-orient: vertical;
}

.show-overview::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.dashboard-middle-text {
    display: flex;
    flex-direction: column;
    /* margin-left: 315px; */
    /* margin-right: 5px; */
}

.show-networks img {
    height: 42px;
    margin-right: 10px;

    -webkit-filter: drop-shadow(1px 1px 0 white)
        drop-shadow(-1px -1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px 1px 0 white);
    filter: drop-shadow(1px 1px 0 white) 
        drop-shadow(-1px -1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px 1px 0 white);
}

.show-genres span {
    margin-left: 10px;
    margin-right: 10px;
}

/* .left-indent-poster {
    padding-left: 315px;
} */

span.spoiler {
  text-shadow: 0 0 8px #fff;
  color: rgba(255, 255, 255, 0);
  zoom: 1;
  transition: 1s text-shadow linear;
}

span.spoiler:hover {
  text-shadow: none;
  color: #fff;
  filter: none;
}

@media only screen and (max-width: 1000px) {
    .center-horizontally {
        padding-left: 6%;
        padding-right: 6%;
    }
}