.review-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
    background: #657586;
    padding: 50px;
    padding-left: 200px;
    border-radius: 3px;
    font-family: sans-serif;
}

.stars-likes-submit {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    font-size: 25px;
    color: #3f4b58;
}



.stars-likes-submit-label {
    font-size: 15px;
    color: white;
}

.review-form-poster {
    border-radius: 5px;
    position: absolute;
    left: 2.5%;
    top: 21%;
    width: 156px;
}

.review-body-input {
    padding: 9px 9px 8px;
    border: none;
    font-size: 1.07692308rem;
    line-height: 1;
    box-sizing: border-box;
    border-radius: 3px;

    background-color: #cde;
    color: #567;
    box-shadow: inset 0 -1px 0 #fff;
    display: block;
    width: 100%;
}

.review-season-input {
    padding: 9px 9px 8px;
    border: none;
    line-height: 1;
    box-sizing: border-box;
    border-radius: 3px;

    background-color: #cde;
    color: #567;
    box-shadow: inset 0 -1px 0 #fff;
    display: block;
}

.review-date-input {
    padding: 9px 9px 8px;
    border: none;
    font-size: 1.07692308rem;
    line-height: 1;
    box-sizing: border-box;
    border-radius: 3px;

    background-color: #cde;
    color: #567;
    box-shadow: inset 0 -1px 0 #fff;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-form-title {
    padding: 3px;
}

.diary-header {
    text-transform: uppercase;
    letter-spacing: .075em;
    font-weight: 400;
    font-size: 14px;
    color: #2d3b4b;
}

.review-season-input {
    position: absolute;
    top: 34%;
    right: 5.3%
}
.review-season-input-input {
    background-color: #cde;
    color: #567;
    font-size: 17px;
    border-style: none;
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.review-form-container h1 {
    margin: 0;
}