.gray-button {
    cursor: pointer;
    display: inline-block;
    border-width: 0px;
    width: 230px;
    border-radius: 5px;
    text-align: center;

    color: #bcd;
    background-color: #456;
    margin-bottom: 1px;
    padding: 15px 30px;
    box-sizing: border-box;

    font-size: 16px;
    font-family: sans-serif;
}

.gray-quick-review {
    display: flex;
    justify-content: space-between;

    border-width: 0px;
    width: 230px;
    border-radius: 5px;
    text-align: center;

    color: #bcd;
    background-color: #456;
    margin-bottom: 1px;
    padding: 30px 30px;
    box-sizing: border-box;

    font-size: 16px;
    font-family: sans-serif;
}

.gray-quick-review i {
    font-size: 30px;
}

.gray-quick-review-link {
    font-size: 16px;
}

.gray-quick-review-link:not(:last-child) {
    margin-right: 5px;
}

.gray-quick-review-link i {
    margin-bottom: 15px;
}

.gray-quick-review-star {
    font-size: 16px;
}

.gray-quick-review-star-caption {
    margin-top: 15px;
}