.gray-button {
    cursor: pointer;
    display: inline-block;
    border-width: 0px;
    width: 155px;
    border-radius: 5px;
    text-align: center;

    color: #bcd;
    background-color: #456;
    margin-bottom: 1px;
    padding: 15px 30px;
    box-sizing: border-box;

    font-size: 12px;
    font-family: sans-serif;
}