.list-show-item-container {
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 1px solid #435466;
    padding-top: 10px;
}

.list-show-item-container * {
    color: #89a;
}

.list-show-item {
    display: flex;
    justify-content: space-between;
}

.list-posters li:last-child img {
    margin-right: 0;
}

.list-profile {
    display: flex;
}

.list-show-title {
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-top: 30px;
    text-decoration: none;
}

.list-posters-info {
    width: 380px;
    padding-top: 30px;
}