.listing-list-link {
    cursor: pointer;
}

.listing-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
    background: #657586;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 3px;
    font-family: sans-serif;
}

.listing-form-container h1 {
    margin: 0;
}